<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Password Reset
    </ion-title>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="goBack()">Back</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img style="display: block;margin: auto" src="assets/img/key.png" alt="your image" height="40%">

  <ion-list inset>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="passwordReset.email"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="reset()">Reset</button>
  </div>

</ion-content>